---
layout: default
---
<article class="rapido">
    <header>
        <h1>Riccardo Padovani</h1>
        <p>Hi! In this corner of web you'll find my posts about different topics in the C.S. field: I'm a Solutions Architect with a strong passion for F/OSS and bug bounties!</p>
    </header>
    {% for post in site.posts limit:10 %}
    <section>
        <h2>
            <a href="{{ post.url | prepend: site.baseurl | prepend: site.url | append: site.extension }}">
                {{ post.title }}
            </a>
        </h2>
        <p>
            <small>
                <span class="post-date">
                {{ post.date | date: "%b %-d, %Y" }}
                </span><br/>
                {% if post.categories.size > 0 %}
                <span class="categories">
                {{ post.categories | array_to_sentence_string }}
                </span>
                {% endif %}

            </small>
        </p>

        <p>
            {{ post.excerpt }}
        </p>
        <p>
            <a href="{{ post.url | prepend: site.baseurl | prepend: site.url | append: site.extension }}" title="{{ post.title}}">
                Read More
            </a>
        </p>
    </section>
    {% endfor %}

</article>

<div>
	<div class="post-footer">
		<div class="column-full"><a href="{{ '/blog' | prepend: site.baseurl | prepend: site.url | append: site.extension }}">Blog archive</a></div>
	</div>
</div>
