<h6>Few more links</h6>
<ul class="menu">
    <li><a href="{{ '/about' | prepend: site.baseurl | prepend: site.url | append: site.extension }}">About</a></li>
    <li><a href="{{ '/blog' | prepend: site.baseurl | prepend: site.url | append: site.extension }}">Archive</a></li>
    <li><a href="{{ '/donations' | prepend: site.baseurl | prepend: site.url | append: site.extension }}">Donations</a></li>
    <li><a href="{{ '/privacy' | prepend: site.baseurl | prepend: site.url | append: site.extension }}">Privacy</a></li>
    <li><a href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}">Feed RSS</a></li>
</ul>
