<h6>License</h6>
<p>
Everything you find here is licensed under
<a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">
Creative Commons Attribution 4.0 International License.</a>
</p>
