<ul>
    <li>
        <a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">Home</a><span>/</span>
    </li>
    <li>
        <a href="{{ '/about' | prepend: site.baseurl | prepend: site.url | append: site.extension }}">About</a><span>/</span>
    </li>
    <li>
        <a href="{{ '/blog' | prepend: site.baseurl | prepend: site.url | append: site.extension }}">Archive</a><span>/</span>
    </li>
</ul>
