<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.harmony.name }}{% endif %}</title>
    <meta name="description"
          content="{% if page.description %}{{ page.description }}{% else %}{{ site.harmony.meta_description }}{% endif %}">
    <meta name="author" content="Riccardo Padovani">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="{% if page.title %}{{ page.title }}{% else %}{{ site.harmony.name }}{% endif %}">
    <meta itemprop="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.harmony.meta_description }}{% endif %}">
    {% if page.cover %}<meta itemprop="image" content="{{page.cover}}">{% endif %}
    {% if page.date %}<meta name="publish_date" property="og:publish_date" content="{{page.date}}">{% endif %}

    {% if page.date %}<meta property="article:published_time" content="{{page.date}}"> {% endif %}

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.harmony.name }}{% endif %}">
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.harmony.meta_description }}{% endif %}">
    {% if page.cover %}<meta property="og:image" content="{{page.cover}}">{% endif %}

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.harmony.name }}{% endif %}">
    <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.harmony.meta_description }}{% endif %}">
    {% if page.cover %}<meta name="twitter:image" content="{{page.cover}}">{% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=yes">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/rapido.css">

    <!--
        Inserting fonts declaration in the head gives the best performance
        https://web.dev/font-best-practices/
    -->
    <style>
        /* cyrillic-ext */
        @font-face {
            font-family: 'Ubuntu Mono';
            font-style: normal;
            font-weight: 400;
            src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url(https://rpadovani.com/assets/css/fonts/ViZhet7Ak-LRXZMXzuAfkTTOQ_MqJVwkKsUn0wKzc2I.woff2) format('woff2');
            unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
        }
        /* cyrillic */
        @font-face {
            font-family: 'Ubuntu Mono';
            font-style: normal;
            font-weight: 400;
            src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url(https://rpadovani.com/assets/css/fonts/ViZhet7Ak-LRXZMXzuAfkTUj_cnvWIuuBMVgbX098Mw.woff2) format('woff2');
            unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
        }
        /* greek-ext */
        @font-face {
            font-family: 'Ubuntu Mono';
            font-style: normal;
            font-weight: 400;
            src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url(https://rpadovani.com/assets/css/fonts/ViZhet7Ak-LRXZMXzuAfkUbcKLIaa1LC45dFaAfauRA.woff2) format('woff2');
            unicode-range: U+1F00-1FFF;
        }
        /* greek */
        @font-face {
            font-family: 'Ubuntu Mono';
            font-style: normal;
            font-weight: 400;
            src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url(https://rpadovani.com/assets/css/fonts/ViZhet7Ak-LRXZMXzuAfkWo_sUJ8uO4YLWRInS22T3Y.woff2) format('woff2');
            unicode-range: U+0370-03FF;
        }
        /* latin-ext */
        @font-face {
            font-family: 'Ubuntu Mono';
            font-style: normal;
            font-weight: 400;
            src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url(https://rpadovani.com/assets/css/fonts/ViZhet7Ak-LRXZMXzuAfkSYE0-AqJ3nfInTTiDXDjU4.woff2) format('woff2');
            unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
        }
        /* latin */
        @font-face {
            font-family: 'Ubuntu Mono';
            font-style: normal;
            font-weight: 400;
            src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url(https://rpadovani.com/assets/css/fonts/ViZhet7Ak-LRXZMXzuAfkY4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
        }
    </style>
</head>
<body class="{{ site.harmony.basetheme }}">

<header class="main-header">
    <div class="wc-container">
        {% include header-links.html %}
    </div>
</header>

{{ content }}

<footer class="main-footer">
    <div class="wc-container">
        <div class="column one">
            {% include footer-links.html %}
        </div>

        <div class="column two">
                {% include footer.html %} 
        </div>
    </div>
</footer>
</body>
</html>
