---
layout: default
---

<article class="rapido">
    <header>
        <h1 class="import-title">{{ page.title }}</h1>
        <p class="import-description">{{ page.excerpt }}</p>
        <address><img src="https://cv.rpadovani.com/assets/avatar.jpg" alt="Author's picture"/>{{ page.date | date: "%b
            %-d, %Y" }} | Riccardo Padovani | <a href="mailto:riccardo@rpadovani.com">riccardo@rpadovani.com</a>
        </address>
    </header>
    <section class="import-content">
        <p>
            {{ content | remove: page.excerpt }}
        </p>
    </section>

    <div id="hyvor-talk-view">Uh-oh, there should be a comment box here! Please double-check your browser is not blocking <a href="/add-comments">my comment system!</a></div>

    <footer>
        <section>
            <h1>Updates and Corrections</h1>
            <p>

                If you see mistakes or want to suggest changes, please <a href="https://gitlab.com/rpadovani/rpadovani.com/issues" target="_blank">open an issue on GitLab.</a>

            </p>
        </section>

        <section>
            <h1>Previous posts</h1>
            <p>
            <ul>
                {% for post in site.related_posts limit:3 %}
                <li>
                    <span>{{ post.date | date_to_string }} &raquo;</span>
                    <a href="{{ post.url | prepend: site.url | append: site.extension }}">{{ post.title }}</a>
                </li>
                {% endfor %}
            </ul>
            </p>
        </section>
    </footer>
    <script type="text/javascript">
      var HYVOR_TALK_WEBSITE = 4900;
      var HYVOR_TALK_CONFIG = {
        url: false,
        id: '{{page.id}}'
      };
    </script>
    <script async type="text/javascript" src="//talk.hyvor.com/web-api/embed.js"></script>
</article>
